<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.explore_maharashtra">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Explore_Maharashtra">
        <activity android:name=".KolhapurRestsMoon"></activity>
        <activity android:name=".KolhapurRestsLittle" />
        <activity android:name=".KolhapurRestsWada" />
        <activity android:name=".KolhapurRestsPahunchar" />
        <activity android:name=".KolhapurRestSolanki" />
        <activity android:name=".KolhapurRests" />
        <activity android:name=".KolhapurTemplesNarsobawadi" />
        <activity android:name=".KolhapurTemplesKopeshwar" />
        <activity android:name=".KolhapurTemplesJyotiba" />
        <activity android:name=".KolhapurTemplesBhavani" />
        <activity android:name=".KolhapurTemplesMahalakshmi" />
        <activity android:name=".KolhapurTemples" />
        <activity android:name=".KolhapurFortsBhairavgad" />
        <activity android:name=".KolhapurFortsSamangad" />
        <activity android:name=".KolhapurFortsGandharva" />
        <activity android:name=".KolhapurFortsMansantosh" />
        <activity android:name=".KolhapurFortsRangana" />
        <activity android:name=".kolhapurForts" />
        <activity android:name=".KolhapurDist" />
        <activity android:name=".SolapurDamsHingani" />
        <activity android:name=".SolapurDamsEkrukh" />
        <activity android:name=".SolapurDamsBhudihal" />
        <activity android:name=".SolapurDamsBabhulgaon" />
        <activity android:name=".SolapurDamsAshti" />
        <activity android:name=".SolapurDams" />
        <activity android:name=".SolapurTemplesAmbabai" />
        <activity android:name=".SolapurTemplesSwami" />
        <activity android:name=".SolapurTemplesDwarkadhish" />
        <activity android:name=".SolapurTemplesRupa" />
        <activity android:name=".SolapurTemplesSiddheshwar" />
        <activity android:name=".SolapurFortsDhotri" />
        <activity android:name=".SolapurFortsKarmala" />
        <activity android:name=".SolapurFortsPiliv" />
        <activity android:name=".SolapurFortsMangalwedha" />
        <activity android:name=".SolapurFortsManchur" />
        <activity android:name=".SolapurTemples" />
        <activity android:name=".SolapurForts" />
        <activity android:name=".SolapurDist" />
        <activity android:name=".SataraDamsMorna" />
        <activity android:name=".SataraDamsMhaswad" />
        <activity android:name=".SataraDamsKoyna" />
        <activity android:name=".SataraDamsKanher" />
        <activity android:name=".SataraDamsDhoom" />
        <activity android:name=".SataraDams" />
        <activity android:name=".SataraTemplesYavateshwar" />
        <activity android:name=".SataraTemplesPhutkey" />
        <activity android:name=".SataraTemplesChidabaram" />
        <activity android:name=".SataraTemplesMauli" />
        <activity android:name=".SataraTemplesKalubai" />
        <activity android:name=".SataraTemples" />
        <activity android:name=".SataraFortVasota" />
        <activity android:name=".SataraFortKalyan" />
        <activity android:name=".SataraFortBhai" />
        <activity android:name=".SataraFortKenjalgad" />
        <activity android:name=".SataraFortPandav" />
        <activity android:name=".SataraFortChandan" />
        <activity android:name=".SataraFortAjinkya" />
        <activity android:name=".SataraFortSajjangad" />
        <activity android:name=".SataraFortKamalgad" />
        <activity android:name=".SataraFortBhushan" />
        <activity android:name=".SataraFort" />
        <activity android:name=".SataraDIst" />
        <activity android:name=".PuneWeekRoyal" />
        <activity android:name=".PuneWeekIshanya" />
        <activity android:name=".PuneWeekCentral" />
        <activity android:name=".PuneWeekPheonix" />
        <activity android:name=".PuneWeekAmnora" />
        <activity android:name=".PuneWeekSen" />
        <activity android:name=".PuneWeekMalaka" />
        <activity android:name=".PuneWeekBounty" />
        <activity android:name=".PuneWeekGerman" />
        <activity android:name=".PuneWeekVaishali" />
        <activity android:name=".PuneWeek" />
        <activity android:name=".PunePlacesPhule" />
        <activity android:name=".PunePlacesTaljai" />
        <activity android:name=".PunePlacesRajiv" />
        <activity android:name=".PunePlacesFriend" />
        <activity android:name=".PunePlacesNda" />
        <activity android:name=".PunePlacesDinker" />
        <activity android:name=".PunePlacesCafe" />
        <activity android:name=".PunePlacesLal" />
        <activity android:name=".PunePlacesOsho" />
        <activity android:name=".PunePlacesAgakhan" />
        <activity android:name=".PunePlaces" />
        <activity android:name=".PuneTempleMoreshwar" />
        <activity android:name=".PuneTempleSangameshwar" />
        <activity android:name=".PuneTempleParvati" />
        <activity android:name=".PuneTempleDehu" />
        <activity android:name=".PuneTempleJain" />
        <activity android:name=".PuneTempleJejuri" />
        <activity android:name=".PuneTempleChattushringi" />
        <activity android:name=".PuneTempleBhimashankar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".DashBoard" />
        <activity android:name=".PuneDivision" />
        <activity android:name=".PuneDist" />
        <activity android:name=".PuneForts" />
        <activity android:name=".PuneFortShivneri" />
        <activity android:name=".PuneFortSinhgad" />
        <activity android:name=".PuneFortRajmanchi" />
        <activity android:name=".PuneFortPratapgad" />
        <activity android:name=".PuneFortKothaligad" />
        <activity android:name=".PuneFortGhangad" />
        <activity android:name=".PuneFortRajgad" />
        <activity android:name=".PuneFortRohida" />
        <activity android:name=".PuneFortTung" />
        <activity android:name=".PuneFortTikona" />
        <activity android:name=".PuneTemples" />
        <activity android:name=".PuneTempleAalandi" />
        <activity android:name=".PuneTempleDagadu" />
    </application>

</manifest>